@media (max-width: 320px){

    body{
        background-color: #f0e7ab !important;
    }

}

@media (min-width:321px) and (max-width:719px){
    
    body{
        background-color: #f0e7ab !important;
    }

}

@media (min-width:720px){
 
    body{
        background-color: #f0e7ab !important;
    }
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

