@media (max-width: 320px){

    header{
        width: 100vw !important;
        background-color: #ffc107 !important;
        }
    
    .bg-body-tertiary{
       --bs-bg-opacity:none !important;
        }

    }



@media  (min-width:321px) and (max-width:719){

    header{
        width: 100vw !important;
        background-color: #ffc107 !important;
        }

    .bg-body-tertiary{
        --bs-bg-opacity:0 !important;
    }
}

@media (min-width:720px){

    header{
        width: 100vw !important;
        background-color: #ffc107 !important;
        }
    
    .bg-body-tertiary{
        --bs-bg-opacity:none !important;
    }

}