@media (max-width: 719px){

    .div_login{
        justify-content: center;
        padding: 20%;
    }
    
    .div_login1{
        border: solid #FF7D08 4px;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        background-color: #eddd73;
        padding: 10px;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        gap: 3em;
        align-items: center;
    }
    
    .senha{
        display: flex;
        flex-direction: column;
    }
    
    .email{
        display: flex;
        flex-direction: column;
    }
    
    .input_login{
        padding:20px;
        border-radius: 10px;
        width: 80%;
        height: 40px;
    }
    
    .botao{
        width: 60%;
        background-color: rgb(184, 184, 184);
    }

}

@media (min-width:720px){

    .div_login{
        justify-content: center;
    }
    
    .div_login1{
        border: solid #FF7D08 4px;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        background-color: #eddd73;
        padding: 10px;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        gap: 3em;
        justify-content: center;
    }
    
    .senha{
        display: flex;
        flex-direction: column;
    }
    
    .email{
        display: flex;
        flex-direction: column;
    }
    
    .input_login{
        padding:20px;
        border-radius: 10px;
        width: 80%;
        height: 40px;
    }
    
    .botao{
        width: 60%;
        background-color: rgb(184, 184, 184);
    }

}