@media (max-width: 719px){

    h1{
        text-align: center !important;
        color: #FF7D08 !important;
        font-weight: 500 !important;
        font-size: 3em !important;
        margin-bottom: 1em !important;
    }
    
    h2{
        color: #141414 !important;
        font-weight: 500 !important;
        font-size: 2em !important;
        margin-top:0% !important;
        margin-left: 1em !important;
    }
    
    .p{
        color: #C45F06 ;
        font-size: 1.5em;
        margin-left: 1.2em;
        text-align: left !important;
    }    

}

@media (min-width:720px){

    h1{
        text-align: center !important;
        color: #FF7D08 !important;
        font-weight: 500 !important;
        font-size: 3em !important;
        margin-bottom: 1em !important;
    }
    
    h2{
        color: #141414 !important;
        font-weight: 500 !important;
        font-size: 2em !important;
        margin-top:0% !important;
    }
    
    .p{
        color: #C45F06 ;
        font-size: 1.5em;
        margin-left: 1.2em;
        text-align: left !important;
    }

}